.apiDoc {
  background-color: $primary-background-color;
  border-radius: 50px;
  margin-top: 150px;

  h3 {
    font-size: 30px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid $secondary-font-color;
    text-transform: uppercase;
    letter-spacing: 2.4px;
  }

  .ApiDoc__Component {
    padding-left: 50px;
    padding-bottom: 50px;
    font-size: 25px;
    .requestHeadline {
      letter-spacing: 2px;
    }

    .requestUrlContainer {
      font-size: 20px;
      display: flex;
      border: 2px solid $secondary-font-color;
      border-radius: 50px;
      width: fit-content;
      padding: 20px;
      position: relative;

      h5 {
        margin: 0;
      }

      .requestType {
        background-color: $secondary-font-color;
        color: $primary-background-color;
        position: absolute;
        padding: 20px;
        top: 0;
        left: 0;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        flex-shrink: 0;
      }

      .requestURL {
        margin-left: 75px;
      }

      @media (max-width: 768px) {
        .requestURL {
          margin: 0;
          text-align: center;
        }
        .requestType {
          top: -20px;
          border-radius: 50px;
          width: 100%;
          text-align: center;
          padding: 0;
          clip-path: inset(0px 20px 1px 20px);
        }
      }
    }

    table {
      width: 100%;
      text-align: left;
      th {
        font-size: 20px;
        padding-bottom: 15px;
        border-bottom: 2px solid black;
      }

      td {
        padding-top: 20px;
        font-size: 20px;
      }
    }
  }
  @media (max-width: 768px) {
    h3 {
      text-align: center;
      padding-left: 0;
    }
    .requestUrlContainer {
      margin: 0 auto;
    }
    .ApiDoc__Component {
      text-align: center;
      padding-left: 0;
      table {
        text-align: center;
        .unseen {
          display: none;
        }
      }
    }

  }

}
