.forms {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .Auth__Component {
        margin-top: 100px;
        width: 50%;
        text-align: center;
        flex: 1 0 350px;

        h4 {
            font-size: 25px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2.6px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 40px;
            font-size: 20px;
        }

        label {
            width: 380px;
            text-align: left;
            padding: 10px 0;
        }

        input {
            border: none;
            background-color: transparent;
            border-bottom: 2px solid white;
            padding: 10px;
            margin: 10px 0 25px;
            text-transform: lowercase;
            width: 380px;
            color: $secondary-font-color;
        }

        input::placeholder {
            color: $secondary-font-color;
        }

        input[type="submit"] {
            width: 230px;
            background-color: $secondary-font-color;
            border: none;
            border-radius: 40px;
            color: $primary-background-color;
            text-transform: uppercase;
            font-weight: 700;

            &:hover {
              background: lighten($secondary-font-color, 25%);
            }
        }
    }
}
